<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fichas de Rendimento</title>
<script type="text/javascript" src="https://situs.pt/lib/jquery"></script>
<link rel="stylesheet" type="text/css" href="https://situs.pt/bar/css">
<link rel="stylesheet" type="text/css" href="https://situs.pt/frontgate/css">
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div id="body"></div>
    <div id="overlay">
        <div id="add-contacto">
            <h2 style="text-align: left; padding: 5px 10px; color: rgba(0, 0, 0, .66); font-family: 'Open Sans', Helvetica, Arial, 'Liberation Sans', sans-serif;">
                CONTACTO
            </h2>
            <ul id="FORNECEDOR_CONTACTO" style="text-align: left;" class="item-edit entity">
                <li class="private attribute">
                    <label style="width: 80px;" for="FORNECEDOR_CONTACTO-CONTACTO_ID">CONTACTO</label>
                    <input type="text" id="FORNECEDOR_CONTACTO-CONTACTO_ID" value="" disabled>
                </li>
                <li class="private attribute">
                    <label style="width: 80px;" for="FORNECEDOR_CONTACTO-FORNECEDOR_ID">FORNECEDOR</label>
                    <input type="text" id="FORNECEDOR_CONTACTO-FORNECEDOR_ID" value="" disabled>
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="FORNECEDOR_CONTACTO-FORNECEDOR">FORNECEDOR</label>
                    <input id="FORNECEDOR_CONTACTO-FORNECEDOR" value="" disabled>
                </li>

                <li class="attribute">
                    <label style="width: 80px;" for="FORNECEDOR_CONTACTO-CONTACTO_NUMERO">NÚMERO</label>
                    <input id="FORNECEDOR_CONTACTO-CONTACTO_NUMERO" value="" placeholder="Número">
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="FORNECEDOR_CONTACTO-CONTACTO_DESCRITIVO">DESCRIÇÃO</label>
                    <input id="FORNECEDOR_CONTACTO-CONTACTO_DESCRITIVO" value="" placeholder="Descrição">
                </li>
            </ul>
            <ul class="related-items" style="padding: 7px;">
                <li style="padding: 0; margin:0; border: none;">
                    <button class="ok" onclick="location.hash = '#Contacto/ok';">OK</button>
                    <button class="cancel" onclick="$('#overlay').fadeOut();">CANCELAR</button>
                </li>
            </ul>
        </div>
        <div id="add-preco">
            <h2 style="text-align: left; padding: 5px 10px; color: rgba(0, 0, 0, .66); font-family: 'Open Sans', Helvetica, Arial, 'Liberation Sans', sans-serif;">
                PREÇO
            </h2>
            <ul id="PRECO" style="text-align: left;" class="item-edit entity">
                <li class="attribute">
                    <label style="width: 80px;" for="PRECO-RECURSO_ID">RECURSO</label>
                    <input type="text" id="PRECO-RECURSO_ID" value="" disabled>
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="F1">FORNECEDOR</label>
                    <input id="F1" value="" disabled placeholder="Fornecedor">
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="V1">PREÇO</label>
                    <input type="text" id="V1" value="" placeholder="Preço">
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="D1">DATA</label>
                    <input type="date" id="D1" value="">
                </li>
            </ul>
            <ul class="related-items" style="padding: 7px;">
                <li style="padding: 0; margin:0; border: none;">
                    <button class="ok" onclick="location.hash = '#Preco/ok';">OK</button>
                    <button class="cancel" onclick="$('#overlay').fadeOut();">CANCELAR</button>
                </li>
            </ul>
        </div>
        <div id="add-rendimento">
            <h2 style="text-align: left; padding: 5px 10px; color: rgba(0, 0, 0, .66); font-family: 'Open Sans', Helvetica, Arial, 'Liberation Sans', sans-serif;">
                <img width="32" style="vertical-align: middle; opacity: .5" src="images/bill.png" />
                RENDIMENTO
            </h2>
            <ul id="RENDIMENTO" style="text-align: left;" class="item-edit entity">
                <li class="private attribute">
                    <label style="width: 80px;" for="RENDIMENTO-REC_RECURSO_ID">COMPOSTO_ID</label>
                    <input type="text" id="RENDIMENTO-REC_RECURSO_ID" value="" disabled>
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="RENDIMENTO-COMPOSTO">COMPOSTO</label>
                    <input type="text" id="RENDIMENTO-COMPOSTO" value="" disabled>
                </li>
                <li class="private attribute">
                    <label style="width: 80px;" for="RENDIMENTO-RECURSO_ID">RECURSO_ID</label>
                    <input id="RENDIMENTO-RECURSO_ID" value="" disabled placeholder="Recurso ID">
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="RENDIMENTO-RECURSO">RECURSO</label>
                    <input id="RENDIMENTO-RECURSO" value="" disabled placeholder="Recurso">
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="RENDIMENTO-QUANTIDADE">QUANTIDADE</label>
                    <input type="text" id="RENDIMENTO-QUANTIDADE" value="" placeholder="Quantidade">
                </li>
                <li class="attribute">
                    <label style="width: 80px;" for="RENDIMENTO-PRECO_PARCIAL">VALOR</label>
                    <input id="RENDIMENTO-PRECO_PARCIAL" value="" disabled>
                </li>

            </ul>
            <ul class="related-items" style="padding: 7px;">
                <li style="padding: 0; margin:0; border: none;">
                    <button class="ok" onclick="location.hash = '#Rendimento/ok';">OK</button>
                    <button class="cancel" onclick="$('#overlay').fadeOut();">CANCELAR</button>
                </li>
            </ul>
        </div>
    </div>
    <script id="template-rows" type="text/template">
        <ul class="<%= classe %>">
        <% _.each(items, function(item){ %>
        <li><%= item.data %></li>
        <% }) %>
        </ul>
    </script>
    <script id="template-row" type="text/template">
        <ul class="row">
        <% _.each(items, function(item){ %>
            <li class="<%= item.class %>"><%= item.value %></li>
        <% }) %>
        </ul>
    </script>
    <script id="template-input" type="text/template">
        <label for="<%= attribute.name %>"><%= item.name %></label>
        <input id="<%= attribute.name %>" value="<%= attribute.value %>"></input>
    </script>
    <script id="template-UNIDADE-option" type="text/template">
        <% _.each(items, function(item){ %>
        <option title="<%= item.UNIDADE_NOME %>" value="<%= item.UNIDADE_CODIGO %>"><%= item.UNIDADE_CODIGO %></option>
        <% }) %>
    </script>
    <script id="template-TIPO-option" type="text/template">
        <% _.each(items, function(item){ %>
        <option title="<%= item.TIPO_NOME %>" value="<%= item.TIPO_CODIGO %>"><%= item.TIPO_CODIGO %></option>
        <% }) %>
    </script>
    <script id="template-RECURSO" type="text/template">
        <ul id="RECURSO" class="item-edit entity">
            <% _.each(items, function(item){ %>
            <li class="attribute RECURSO_ID">
            <label for="RECURSO-RECURSO_ID">R_ID</label>
            <input type="text" id="RECURSO-RECURSO_ID" value="<%= item.RECURSO_ID %>">
            <li class="attribute FORNECEDOR_ID">
            <label for="RECURSO-FORNECEDOR_ID">F_ID</label>
            <input type="text" id="RECURSO-FORNECEDOR_ID" value="<%= item.RECURSO_ID %>">
            </li>
            <li class="attribute NOME">
            <label for="RECURSO-NOME">NOME</label>
            <input type="text" id="RECURSO-NOME" value="<%= item.NOME %>">
            </li>
            <li class="attribute TIPO_CODIGO">
            <label for="RECURSO-TIPO_CODIGO">TIPO</label>
            <select id="RECURSO-TIPO_CODIGO" value="<%= item.TIPO_CODIGO %>"></select>
            </li>
            <li class="attribute UNIDADE_CODIGO">
            <label for="RECURSO-UNIDADE_CODIGO">UNIDADE</label>
            <select id="RECURSO-UNIDADE_CODIGO" value="<%= item.UNIDADE_CODIGO %>"></select>
            </li>
            <li class="attribute RECURSO_PRECO">
            <label for="RECURSO-RECURSO_PRECO">PREÇO</label>
            <input type="text" id="RECURSO-RECURSO_PRECO" value="<%= item.RECURSO_PRECO %>">
            </li>
            <li class="attribute DATA_ATUALIZADO">
            <label for="RECURSO-DATA_ATUALIZADO">DATA</label>
            <input type="date" id="RECURSO-DATA_ATUALIZADO" value="<%= item.DATA_ATUALIZADO %>">
            </li>
            <li class="attribute ">
            <label for="RECURSO-USER">USER</label>
            <input type="text" id="RECURSO-USER" value="<%= item.USER %>">
            </li>
            <% }) %>
        </ul>
        <div id="PRECO-mosaicos" class="mosaicos">
            <ul class="related-items" style="padding: 7px;"></ul>
        </div>
        <div id="RENDIMENTO-mosaicos" class="mosaicos">
            <ul class="related-items" style="padding: 7px;"></ul>
        </div>
    </script>
    <script id="template-FORNECEDOR-CONTACTO" type="text/template">
        <% _.each(contactos, function(contacto){ %>
        <li class="CONTACTO"
            data-contacto_id="<%= contacto.CONTACTO_ID %>"
            data-fornecedor_id="<%= contacto.FORNECEDOR_ID %>"
            data-contacto_numero="<%= contacto.CONTACTO_NUMERO %>"
            data-contacto_descritivo="<%= contacto.CONTACTO_DESCRITIVO %>">
            <div style="text-align:left;">
                <span style="vertical-align: middle;"><%= contacto.CONTACTO_DESCRITIVO %></span>
                <img src="icons/16/close.png" class="eliminar" title="Eliminar">
            </div>
            <label><%= contacto.CONTACTO_NUMERO %></label>
        </li>
        <% }) %>
    </script>
    <script id="template-RECURSO-PRECO" type="text/template">
        <% _.each(precos, function(preco){ %>
            <li class="PRECO"
                data-DATA="<%= preco.DATA %>"
                data-RECURSO_ID="<%= preco.RECURSO_ID %>"
                data-VALOR="<%= preco.VALOR %>"
                data-FORNECEDOR_ID="<%= preco.FORNECEDOR_ID %>">
            <div style="text-align:left;">
                <input onchange="Frontgate.Apps('Fichas').clickedRadio(this);"
                    type="radio" id="<%= preco.id %>"
                    name="preco"
                    style="vertical-align: middle; margin-right: 4px;">
                <span style="vertical-align: middle;"><%= preco.fornecedor %> <%= preco.DATA %></span>
                <img src="icons/16/close.png" class="eliminar" title="Eliminar">
            </div>
            <label for="<%= preco.id %>">
            <span></span><%= preco.VALOR %> €
            </label>
            </li>
        <% }) %>
    </script>
    <script id="template-RECURSO-RENDIMENTO" type="text/template">
        <li style="border: none;font-size: 16px; font-family: Consolas, monospace; font-weight: bold; padding-right: 24px; padding-left: 16px">Ficha de Rendimento</li>
        <% _.each(rendimentos, function(rendimento){ %>
        <li class="RENDIMENTO"
            data-recurso_id="<%= rendimento.RECURSO_ID %>"
            data-quantidade="<%= rendimento.QUANTIDADE %>"
            data-preco_parcial="<%= rendimento.PRECO_PARCIAL %>">
            <!--  border: solid 1px rgba(0,255,0,.1); -->
            <div style="padding: 2px; text-align:left;">
                <!--
                <span style="vertical-align: middle; border: solid 1px rgba(255,0,0,.1);"><b><%= rendimento.NOME %></b> (<%= Math.round(rendimento.PRECO_PARCIAL/rendimento.QUANTIDADE*100)/100 %>€/<%= rendimento.UNIDADE %>)</span>
                
                   border: solid 1px rgba(255,0,0,.1);  -->
                <img src="icons/16/close.png" class="eliminar" title="Eliminar" style="vertical-align: middle; margin-right: -10px; margin-top: 0px;">
                <div style="white-space: nowrap;  margin: 0; padding: 0; font-family: Consolas, monospace; text-align: left; font-size: 14px;">
                    <pre style="border: none; text-align: left; display: inline-block; float: right; font-weight: bold;margin: 0; margin-right: -4px;"><%= rendimento.PRECO_PARCIAL %> €</pre>
                    <pre style="border: none; display: inline-block; text-align: right; margin-right: 34px;"><%= rendimento.QUANTIDADE %> <%= rendimento.UNIDADE_CODIGO %> <%= rendimento.NOME %></pre>
                </div>
            </div>

        </li>
        <% }) %>
        <!--  border: solid 1px rgba(255,0,0,.1);  -->
        <li style="text-align: right; border: none;font-size: 16px; font-family: Consolas, monospace; font-weight: bold; padding-right: 24px; padding-left: 16px"><span style="float:left;">Total</span><%= total %> €</li>
    </script>
    <script id="template-FORNECEDOR" type="text/template">
        <ul id="FORNECEDOR" class="item-edit entity">
            <% _.each(items, function(item){ %>
            <li>
            <label for="FORNECEDOR-FORNECEDOR_ID">ID</label>
            <input type="text" id="FORNECEDOR-FORNECEDOR_ID" value="<%= item.FORNECEDOR_ID %>" placeholder="#"></input>
            </li>
            <li>
            <label for="FORNECEDOR-FORNECEDOR_NOME">NOME</label>
            <input type="text" id="FORNECEDOR-FORNECEDOR_NOME" value="<%= item.FORNECEDOR_NOME %>" placeholder="Nome"></input>
            </li>
            <li>
            <label for="FORNECEDOR-FORNECEDOR_MORADA">MORADA</label>
            <input type="text" id="FORNECEDOR-FORNECEDOR_MORADA" value="<%= item.FORNECEDOR_MORADA %>" placeholder="Morada"></input>
            </li>
            <% }) %>
        </ul>
        <div id="CONTACTO-mosaicos" class="mosaicos">
            <ul class="related-items" style="padding: 7px;"></ul>
        </div>
    </script>
    <script id="template-UNIDADE" type="text/template">
        <ul id="UNIDADE" class="item-edit entity">
            <% _.each(items, function(item){ %>
            <li>
                <label for="UNIDADE-UNIDADE_CODIGO">CÓDIGO</label>
                <input type="text" id="UNIDADE-UNIDADE_CODIGO" value="<%= item.UNIDADE_CODIGO %>" placeholder="#">
            </li>
            <li>
                <label for="UNIDADE-UNIDADE_NOME">NOME</label>
                <input type="text" id="UNIDADE-UNIDADE_NOME" value="<%= item.UNIDADE_NOME %>" placeholder="Nome">
            </li>
            <% }) %>
        </ul>
    </script>
    <script id="template-TIPO" type="text/template">
        <ul id="TIPO" class="item-edit entity">
            <% _.each(items, function(item){ %>
            <li>
                <label for="TIPO-TIPO_CODIGO">CÓDIGO</label>
                <input type="text" id="TIPO-TIPO_CODIGO" value="<%= item.TIPO_CODIGO %>" placeholder="#">
            </li>
            <li>
                <label for="TIPO-TIPO_NOME">NOME</label>
                <input type="text" id="TIPO-TIPO_NOME" value="<%= item.TIPO_NOME %>" placeholder="Nome">
            </li>
            <% }) %>
        </ul>
    </script>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>
